# Utility packages for scripts
requests

# Waveform Database (handling physiological signals, accessing PhysioNet data)
wfdb

# PF12RED dataset is hosted on GitHub, files are XML and PDF
GitPython
xmltodict

# Required by `driver.py` in every team entry
numpy<2     # Otherwise packages from 2020 or earlier stop working.
scipy

# Development and analysis tools
ipykernel
seaborn[stats]
pandas
torchinfo

# Team: DSAIL_SNU (import dsail)
git+https://github.com/ShaunKyle/PhysioNet-Challange-2020.git@main
# # upgrade thop -> ultralytics-thop (for profiling PyTorch models)
# scikit_learn
# ultralytics-thop
# future

# git+https://github.com/seonwoo-min/PhysioNet-Challange-2020.git@main

# # Team: Prna
# scikit_learn
# joblib
# biosppy==0.3.0
# tqdm
# pyentrp
# PyWavelets
